*{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: auto 1fr;
    height:100vh;
}

/* Header */

.header{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-column:2/4;
    border-style: groove;
    border-color: blueviolet;
    height: 20vh; 
}
.topRow{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.searchBar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2/6;
}

/* Search Bar */
form.search input[type=text]{
    padding:10px;
    font-size:17px;
    border 1px solid grey;
    float: left;
    width: 80%;
    height: auto;
    background: #f1f1f1;
}
/* submit button */
form.search button{
    float: left;
    width: 20%;
    height:auto;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.rightSearchBar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 5/6;
    align-items: center;
    justify-content: center;
}
.bottomRow{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.buttonGang{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.welcomeDiv{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.welcomeAlien{
    grid-row: 1/3;
    height: 100px;
    width:100px;
    justify-self: center;
    align-self: center;
    
}

.searchIcon{
    width:24px;
    height: 24px;
}

/* Sidebar */

.sidebar{
    grid-row:1/3;
    border-style: groove;
    border-color: blueviolet;
}
.dashHead{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Article */

.article{  
    display:grid;
    grid-template-columns:1fr auto;
    gap:4px;
    
}
.projects{
    grid-row:1/3;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: auto auto auto;
    gap:15px;
    margin: 2px;

    
}
.trending{
    grid-column: 2/4;
    border-style: groove;
    border-color: blueviolet;
}
.card{
    border-style: groove;
    border-color: blueviolet;
}
.announcements{
    border-style:groove;
    border-color: blueviolet;
}